@media screen and (width:612px) {
    .flex-container{
        flex-direction: column!important;
    }
}
.hotelcontainer{
    width: 100vw;
}
.img-container{
    padding: 50px;
    /* position: relative; */
}
.hotels-text{
    position: absolute;
    font-size: 70pt;
    top: 75%;
    left: 60%;
    color: white;
}
.hotel-img{
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    border-radius: 2rem;
    image-resolution: from-image;
    position: relative;
}
.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90vw;
    margin: 0 auto;
}
.hotel-card{
    margin: 40px auto;
    width: 100vw;
}
.reminder{
    text-align: center;
    font-size: 13pt;
}
.hotel-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width:90vw;
    margin: 0 auto;
}
.hotel-cards{
}
.price{
    text-align: center;
    font-size: 18pt;
}
.discount{
    text-align: center;
}
.stars{
    text-align: center;
}
.search-form{
    display: flex;
    flex-direction: row;
}
.flexcontainer{
    display: flex;
    flex: row;
    gap: 15px;
    margin: 0 auto;
}
.hotel-imgs{
    object-fit: cover!important;
}
