.img-container{

}
.restaurant-img{
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    border-radius: 2rem;
    image-resolution: from-image;
    position: relative;
}
.title{
    position: absolute;
    font-size: 60pt;
    text-align: right;
    color: white;
    bottom: 5%;
    left:50%;
}
.r-card{
    margin: 20px auto;
    width: 50%;
}
form{
    justify-content: center;
    margin: 0 auto;
}
.card-title{
    text-align: center;
    margin: 0 auto;
}
.message{
    text-align: center;
    margin-top: 20px;
    font-size: 13pt;
}
.food-type{
    text-align: center;
}
.star{
    text-align: center;
}
.price{
    text-align: center;
}
.status{
    text-align: center;
}
.rest-cards{
    margin: 0 auto;
    width: 45%;
}
.rests{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rest-img{
    width: 100%;
    height:100%;
}