.img-1{
    margin: 0 auto;
}
.img-2{
    margin: 0 auto;
}
.img-3{
    margin: 0 auto;
}
.img-4{
    margin: 0 auto;
}
.view-card{
    margin: 50px auto;
    width: 80vw;
}
.amentities{
    margin-top: 20px;
}
.attractions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 20px auto;
    gap: 10px;
    width: 90vw;
}